@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold,italic&subset=latin,latin-ext");

body {
  font-family: "Josefin Sans", monospace !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #3f51b5;
}
.app {
  text-align: center;
}
.title {
  margin-bottom: 50px;
}
input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #3f51b5;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
button {
  font-family: "Josefin Sans", monospace !important;
  border: 1px solid #3f51b5;
  background: transparent;
  color: #3f51b5;
  font-size: 18px;
  padding: 10px 25px;
  margin: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.notice.success {
  color: #000;
}

.notice.fail {
  color: red;
}
